body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: Arial;
}

#sidebar {
  width: 330px;
  background: #202020;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

#map {
  flex: 1;
}

.flight-card {
  background: #303030;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
}

.flight-card:hover {
  background: #404040;
}

#mode {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}
